[Unit]
Description=NAT Traversal Notification Service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'source /home/shuqixiao/Projects/nat-traversal/utils.sh && email_notify_on_failure "NAT traversal service (.env.%i) failed: Start limit reached. $(cat /home/shuqixiao/Projects/nat-traversal/.env.%i)"'
