[Unit]
Description=NAT Traversal Service by AUTOSSH
After=network-online.target ssh.service
Wants=network-online.target

# Limit restart attempts to 3 times every 3 hour
StartLimitBurst=3
StartLimitIntervalSec=3h

OnFailure=nat-traversal-notify@%i.service

[Service]
Type=simple
Environment=SCRIPT_DIR=/home/shuqixiao/Projects/nat-traversal

# Main command to start the NAT traversal service
ExecStart=$SCRIPT_DIR/setup.sh --env-file $SCRIPT_DIR/.env.%i

# Restart every 3 minutes
Restart=on-failure
RestartSec=3m

[Install]
WantedBy=default.target
