[Unit]
Description=NAT Traversal Service by AUTOSSH
After=network-online.target ssh.service
Wants=network-online.target

# Limit restart attempts to 3 times every 3 hour
StartLimitBurst=3
StartLimitIntervalSec=3h

OnFailure=nat-traversal-notify@%i.service

[Service]
Type=simple

# Main command to start the NAT traversal service
ExecStart=/home/shuqixiao/Projects/nat-traversal/setup.sh --env-file /home/shuqixiao/Projects/nat-traversal/.env.%i

# Restart every 3 minutes
Restart=on-failure
RestartSec=3m

[Install]
WantedBy=default.target
