[Unit]
Description=NAT traverse service by autossh
After=network.target
StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
Type=simple
User=shuqixiao
ExecStart=/home/shuqixiao/Projects/nat-traversal/setup.sh --env-file /home/shuqixiao/Projects/nat-traversal/.env.%i
Restart=on-failure
RestartSec=30min

[Install]
WantedBy=multi-user.target
